* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.root {
  background-color: #7b66ff;
  margin-top: 20%;
  width: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.inputBody {
  border-bottom: 2px solid black;
  height: 180px;
  width: 100%;
  display: flex;flex-direction: column;

  justify-content: center;
}
.bodyForInput {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyForInput input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  height: 40%;
  width: 50%;
  outline: none;
  border: none;
}
.bodyForInput button {
  height: 40%;
}

.addTaskButton {
  background-color: #86b6f6;
  height: 25%;
  width: 20%;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.taskItem {
  background-color: #f0f3ff;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskItem button {
  margin-right: 10%;
}
.taskItem a {
  margin-left: 10%;
}

.alertBody {
  border: 3px solid red;
  margin-top: 20%;
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prioBody {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.high{
  color: #f1cd00;
}
.mid{
color: #00ff44;
}
.low{
  color: #befdff;
}
