*{
    margin: 0;
    padding: 0;
    border: border-box;
}
body{
    height: 100vh;
    

}
.root{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.colorContainer{
    border: 2px solid black;
    height: 400px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    gap: 10px;
}
.colo{
    color: white;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}