* {
  margin: 0;
  padding: 0;
  border: border-box;
}
.root {
  color: black;
}
.wordSearchBody {
  margin-top: 20px;
  background-color: red;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBody {
  width: 250px;
  text-align: center;
  height: 50%;
  border: none;
  outline: none;
}
.searchButton {
  height: 50%;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}

.resultBody{
    background-color: green;
    height: 600px;
}
.wordAndPhoneticDisplayingBody{
    border: 2px solid black;
    height: 100px;
    
}
.displayWord{
    font-size: 25px;

}
.displayPhonetic{
    background-color: blue;

}
.definitonsOutput{
    height: 200px;
    width: 500px;
    background-color: aqua;
    overflow-x: scroll;
    
}
.defnsBody{
    border: 2px solid black;
    margin: 10px;
}