* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  background-color: #240a34;
}
.root {
  color: black;
  background-color: #240a34;
}
.wordSearchBody {
  background-color: #9195f6;
  margin-top: 20px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBody {
  width: 250px;
  text-align: center;
  height: 50%;
  border: none;
  outline: none;
}
.searchButton {
  height: 50%;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}

.resultBody {
    margin-top: 50px;
  background-color: #240a34;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.wordAndPhoneticDisplayingBody {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #dff5ff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.displayWord {
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  width: fit-content;
}
.displayPhonetic {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #9bb0c1;
}
.definitonsOutput {
    border-radius: 10px;
    margin-top: 30px;
  height: 300px;
  width: 600px;
  background-color: #B5C0D0;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.definitonHeading {

  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-style: italic;
}
.defnsBody {
    
    border-radius: 10px;
  background-color: #B7C9F2;
  padding-top:10px ;
  padding-bottom:10px ;
  padding-left:15px ;
  padding-right:15px ;
  margin: 10px;
}
.examplesBody {
    margin-top: 50px;
  background-color: #0F2167;
  height: 120px;
  width: 600px;
  overflow-y: scroll;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.examplesHeading {
    color: #15F5BA;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #F72798;
    font-style: italic;
}
.examplesItems {
    border-radius: 10px;
  background-color: #EEEDEB;
  padding-top:10px ;
  padding-bottom:10px ;
  padding-left:15px ;
  padding-right:15px ;
  margin: 10px;
}
