*{
    margin: 0;
    padding: 0;
    border:border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContainer{
    height:500px;
    width: 500px;
    border: 2px solid black;
}
.normal{
    border: 2px solid black;
}
.apiProjectsList{
    border: 2px solid black;
}