*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.clockBody{
    border: 2px solid black;
    height: 100px;
    width: 500px;
    display: flex;
}

.am_pmBody{
    background-color: red;
    width: 10%;
    height: 100%;
}
.hourBody{
    background-color: blue;
    width: 10%;
    height: 100%;
}
.minuteBody{
    background-color: yellow;
    height: 100%;
    width: 10%;
}
.secondBody{
    background-color: green;
    width: 10%;
    height: 100%;
}