*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.root{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.clockBody{
    border: 2px solid #15F5BA;
    border-radius: 20px;
    height: 100px;
    width: 500px;
    display: flex;
    font-size: 60px;
    background-color: #211951;
    color: #836FFF;
}

.hourBody{
    padding-left: 5%;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.am_pmBody{
    padding-right: 5%;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minuteBody{
    border-left: 2px solid #15F5BA;
    height: 100%;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondBody{
    border-left: 2px solid #15F5BA;
    width: 30%;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .clockBody{
     width: 400px;
     font-size: 40px;
    }
    
   }